server:
  port: 8082

logging:
  level:
    org.springframework.cloud.stream.binder.rocketmq.integration.RocketMQMessageHandler: OFF

spring:
  cloud:
    stream:
      bindings:
        sendtestobject-out-0:
          destination: my-topic
          binder: local_rocket
          contentType: application/json

      binders:

        local_rocket:
          type: rocketmq
          environment:
            rocketmq:
              producer:
                group: producergroup1
                send-message-timeout: 300000
                retry-times-when-send-async-failed: 3

      rocketmq:
        binder:
          name-server: namesrv:9876 # local ->  localhost:9876 | docker -> namesrv:9876 WORKS


