server:
  port: 8082


spring:
  cloud:
    stream:
      bindings:
        sendtestobject-out-0:
          destination: my-topic
          binder: localrabbit
          contentType: application/json

      binders:
        localrabbit:
          type: rabbit
          environment:
            spring:
              rabbitmq:
                host: localhost # local -> localhost | docker -> rabbitmq
                port: 5672 # WORKS
                username: guest # WORKS
                password: guest # WORKS
                virtual-host: / # WORKS