server:
  port: 8082


spring:
  cloud:
    stream:
      bindings:
        sendtestobject-out-0:
          destination: my-topic
          binder: localrabbit
          contentType: application/json

      rabbit:
        bindings:
          receiveTestObject-in-0:
            consumer:
              containerType: SIMPLE # WORKS
              maxConcurrency: 2 # 1 provides best values and is default
              acknowledgeMode: AUTO  # WORKS
              txSize: 100  # WORKS  value suggested in https://www.rabbitmq.com/confirms.html

      binders:
        localrabbit:
          type: rabbit
          environment:
            spring:
              rabbitmq:
                host: localhost # local -> localhost | docker -> rabbitmq
                port: 5672 # WORKS
                username: guest # WORKS
                password: guest # WORKS
                virtual-host: / # WORKS



